.tablero {
	position: relative;
}

.memory-game {
	width: 85%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.memory-card {
	margin: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	border-radius: 20px;

	transform-style: preserve-3d;

	transition: .5s;
}

.front-face, .back-face {
  	width: 100%;
  	height: 100%;

  	padding: 3%;

  	position: absolute;
  	border-radius: 20px;
  	background: var(--rosa); 
	  
 	backface-visibility: hidden;
	box-sizing: border-box;
}

.back-face {
	background: #B5B19A;
	cursor: pointer;
}

.memory-card.flip {
	transform: rotateY(180deg);
	transition: 0.3s;
}

.front-face {
	transform: rotateY(180deg);
	transition: 0.3s;
}

#volverJugar {
	pointer-events: none;
	opacity: 0;
	position: absolute;
	top: 45%;
	left: 40%;
}

@media (min-width: 1600px){
	.memory-game{
		width: 60%;
	}
}
